/* Add your CSS styles here */
*{
    margin: relative;
    font-family: sans-serif;
}

.background-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%; /* Adjust as needed */
    opacity: 0.3; /* Faint background look */
    z-index: 1;
}

.foreground-image {
    position: relative;
    z-index: 2;
    width: 300px; /* Adjust as needed */
    margin: 20px;
}

.bio {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}

.bio.logo{
    width: 50px;
    margin: 25px;
    cursor: pointer;
} 

.user{
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
}

.user img{
    width: 410px;
    height: 410px;
    position: relative;
    border-radius: 50%;
    border: 3px solid #ccc;
    margin-top: 60px;
    margin-bottom: 20px;
    cursor: pointer;
}



.menu {
    display: flex;
    flex-direction: row;
}

.menu {
    background-color:#333;
    width: relative;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
}

.menu-content {
    float: none;
}

.menu-content.active {display: block;}

.container{
    width: 50%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter:blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}

.info{
    width: 550;
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info h2{
    font-size: 20px;
    margin-top: 10%;
}

.info p{
    color: #333;
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    line-height: 18px;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #333;
    color: white;
  }

header {
    background-color: black;
    color: white;
    text-align: left;
    padding: 40px 10px 10px 10px;
  }

h1 {
    /*color:#768ceb;*/
    color:white;
    font-size: 48px;
    letter-spacing: 4px;

}

h2 {color:white;
    margin-bottom:2.5%;
    /*margin-left: 0%;*/
    margin-block-end: 5%;
    font-size: 30px;}

p{color:white;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  }

/*nav {
    width: 100%;
    background: black;
  }
*/
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

nav ul li {
    margin: 0 15px;
  }

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

/*nav a {
    color: #768ceb;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
*/
nav ul li a:hover {
      text-decoration: underline;
    }
  
/*nav a:hover {
    background-color: white;
    color: #768ceb;
    text-decoration: underline;
  }
*/
#intro-front-bio{
    position: relative;
    width:  100%;
    height:auto;/*120vh;*/
    background:#333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: justify;
    /*background-image: url(images/background.png);*/
}



footer {
  text-align: center;
  padding: 5px;
  font-size: 14px;
  color: #999;
}

/* Add more styles as needed */
/*Line breaks*/
#just-line-break {
  white-space: pre-line;
}
