/* Add your CSS styles here */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#front-bio{
    width:  120%;
    height: 120vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0%;
}

.bio {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.bio.logo{
    width: 100px;
    margin: 25px;
    cursor: pointer;
} 

.user{
    display: flex;
    align-items: center;
}

.user img{
    width: 300px;
    display: block;
    position: absolute; /* or relative */
    left: 75%;
    top: 20%;
    transform: translate(-80%, 20%);
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
}

.menu-content {
    float: none;
}

.menu-content.active {display: block;}

.container{
    width: 60%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter:blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}

.info{
    width: 550;
    color: #000000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info h2{
    font-size: 20px;
    margin-top: 20%;
    letter-spacing: 10px;
}

.info p{
    color: #000000;
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    line-height: 18px;
}


header {
    background-color: white;
    color: #768ceb;
    padding: 10px;
    justify-content: center;
    margin-inline-start: 0%;
   
  }

h1 {color:#768ceb;
    margin-left: 42%;}

h2 {color:#000000;
    margin-top: 50%;
    margin-left: 20%;
    margin-block-end: 10%;
    font-size: 30px;}

p{color:#768ceb;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  }

nav {
    width: 100%;
    background: black;
  }

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  nav a {
    color: #768ceb;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav a:hover {
    background-color: white;
    color: #768ceb;
    text-decoration: underline;
  }

.section p {
    padding: 20px;
    color: white;
    font-display: #768ceb;
    font-size: 30px;
    line-height: 1.7;
    font-family: sans-serif;
    margin-bottom: 40px;
    border-radius: 60%;
}

/* Add more styles as needed */
/*Line breaks*/
#just-line-break {
  white-space: pre-line;
}

